body {
    padding-top: 90px;
}

.toolbarkit{
    margin-top: 50px;
}

.elements{
    padding-right: 2%;
    padding-bottom: 2%;
}

.element{
    padding-top: 2%;
    padding-left: 2%;
    width: 10%;
    float: left;
}

.element img{
    width: 100%;
}

.settingContent{
    padding: 2%;
}

.navBarElement{
    padding: 10%;
}