<nav class="toolbarkit navbar navbar-default navbar-fixed-top">
    <div class="container">

        <router-outlet></router-outlet>

    </div>
</nav>
<div class="elements">
    <context-menu-holder></context-menu-holder>
    <div *ngFor="let dossier of dossiers" class="element">
        <dossierComponent [context-menu]="linkFolder" [dossier]=dossier></dossierComponent>
    </div>
    <div *ngFor="let fichier of fichiers" class="element">
        <fichierComponent [context-menu]="linkFile" [fichier]=fichier></fichierComponent>
    </div>
</div>